extends layout

block content
  h1 Thank you for your interest in ServusTalk
  h2 If members of community will recognize your name (#{everyauth.google.user.name}) or email (#{everyauth.google.user.email}), they will accept your request of joining the group chat as soon as possible
