extends layout

block append stylesheets
  link(href='/public/jPaginate/css/style.css', rel='stylesheet', type='text/css')
  link(href='/public/css/jquery-ui-1.8.17.custom.css', rel='stylesheet', type='text/css')

block append scripts
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js');
  script(src='/public/js/jquery-ui-1.8.17.custom.min.js');
  script(src='http://balupton.github.com/jquery-syntaxhighlighter/scripts/jquery.syntaxhighlighter.min.js')
  script(src='/public/jPaginate/jquery.paginate.js')
  script(src='/public/js/config.js')
  script(src='/public/js/message.js')
  script(src='/public/js/history.js')

block header
  #header
    | Currently logged in as 
    span#loggedUser.username #{everyauth.google.user.name}
    span#logout
      a(href='/logout') Logout
    span#logout
        | |
    span#logout
      a(target='_blank',href='/whitelist') Whitelist
    span#logout
        | |
    span#logout
      a(target='_blank',href='/') Chat

block content
  table
    tr
      td#messagebox
        .scrollr
      td#buddylist.calendar(rowspan="2")
        .scrollr
          #datepicker
          #pagination
