extends layout

block append stylesheets
  link(href='/public/jPaginate/css/style.css', rel='stylesheet', type='text/css')
  link(href='/public/css/jquery-ui-1.8.17.custom.css', rel='stylesheet', type='text/css')

block append scripts
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js');
  script(src='/public/js/lib/jquery-ui-1.8.17.custom.min.js');
  script(src='/public/syntaxhighlighter/jquery.syntaxhighlighter.min.js')
  script(src='/public/jPaginate/jquery.paginate.js')
  script(src='/public/js/config.js')
  script(src='/public/js/loadMemes.js')
  script(src='/public/js/message.js')
  script(src='/public/js/resize.js')
  script(type='text/javascript')
    MESSAGE_ENDPOINT = "#{endpoint}";
  script(src='/public/js/history.js')
  script(src='/public/js/helpers.js')

block header
  #header.row-fluid
    ul.inline.unstyled.pull-right#menu
      li
        a(target='_blank',href='/') Chat
      li
        a(href='/memegeist',target='_blank') Memegeist
      li
        a(href='/map',target='_blank') Map
      li
        a(href='/whitelist',target='_blank') Whitelist
      li
        a(href='/logout') Logout

    | Currently logged in as 
    span#loggedUser.username #{everyauth.google.user.name}

block content
  #content.row-fluid
    div.span9#chat
      #messagebox.history
        .scrollr

    div.span3#chat
      #buddylist.calendar
        .scrollr
          #datepicker
          #pagination
