extends layout

block append stylesheets
  link(href='/public/css/jquery-ui-1.8.17.custom.css', rel='stylesheet', type='text/css')
  link(rel="stylesheet", href="public/fancybox/jquery.fancybox-1.3.4.css", type="text/css", media="screen")

block append scripts
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js');
  script(src='/public/js/jquery-ui-1.8.17.custom.min.js');
  script(src='http://balupton.github.com/jquery-syntaxhighlighter/scripts/jquery.syntaxhighlighter.min.js')
  script(src='/public/fancybox/jquery.fancybox-1.3.4.pack.js')
  script(src='/socket.io/socket.io.js')
  script(src='/public/js/config.js')
  script(src='/public/js/message.js')
  script(src='/public/js/script.js')
  script(src='http://www.google.com/jsapi')
  script(src='/public/js/google_calendar.js')

block header
  #header
    span#roomTitle
    a#changeTitle(href='#changeTitleForm') Change title
    span#logout
      a(href='/logout') Logout
    span#logout
        | |
    span#logout
      a(href='/whitelist',target='_blank') Whitelist
    span#logout
        | |
    span#logout
      a(href='/history',target='_blank') History

block content
  table
    tr
      td#messagebox
        .scrollr
      td#buddylist(rowspan="2")
        .scrollr
          p 
            span#title Online
            // a#toggle(href='#', full='1') &raquo;
          ul
          span#noise
        hr
        #calendar
          table.fullheight
            tr
              td
                a#calendar_link(target='_blank', href='#{calendar_web_link}')
                  img(src='/public/images/calendar.gif')
            tr
              td.fullheight
                #events.scrollr
    tr
      td#inputbox
        textarea#inputfield(rows='2')
        #footer
          | Logged in as 
          span#loggedUser.username #{everyauth.google.user.name}
          span#desktop
            input#desknot(type='checkbox') 
            span Desktop notifications
  
  div(style='display:none')
    #changeTitleForm
      input#newTitle(type='text')
      input#submitTitle(type='button', value='Change title')
