extends layout

block append stylesheets
  link(href='/public/css/jquery-ui-1.8.17.custom.css', rel='stylesheet', type='text/css')

block append scripts
  script(src='/public/js/lib/jquery-ui-1.8.17.custom.min.js');
  script(src='/public/syntaxhighlighter/jquery.syntaxhighlighter.min.js')
  script(src='/public/js/resize.js')
  script(src='/public/js/helpers.js')
  script(src='/socket.io/socket.io.js')
  script(src='/public/js/config.js')
  script(src='/public/js/message.js')
  script(src='/public/js/lib/cursorPosition.js')
  script(src='/public/js/script.js')
  script(src='http://www.google.com/jsapi')
  script(src='/public/js/google_calendar.js')
  script(src='http://maps.googleapis.com/maps/api/js?sensor=true')

block header
  #header.row-fluid
    ul.inline.unstyled.pull-right#menu
      li
        a(href='/memegeist',target='_blank') Memegeist
      li
        a(href='/top',target='_blank') Top
      li
        a(href='/history',target='_blank') History
      li
        a(href='/map',target='_blank') Map
      li
        a(href='/whitelist',target='_blank') Whitelist
      li
        a(href='#OptionsModal',data-toggle='modal') Options
      li
        a(href='/logout') Logout

    div#title-box
      div#roomTitleDisplay
        span#roomTitle
        a#changeTitle(href='#changeTitleForm', class="btn btn-mini btn-info") Change title

      span#roomTitleEdit(style='display:none')
        input#newTitle(type='text',class='span4')
        a#submitTitle(href='#changeTitleForm', class="btn btn-mini btn-info") Done
      

block content
  #content.row-fluid
    div.span9#chat
      #messagebox
        .scrollr

      textarea#inputfield(rows='2',placeholder='Type something funny and hit enter')



    div.span3#sidebar
      #buddylist(rowspan="2")
        .scrollr
          .alt.pull-right
            span#clients-count
              |0
            |&nbsp;toci

          h4 Online
          ul.unstyled
        
      #calendar
        .scrollr
          a.pull-right#calendar_link(target='_blank', href='#{calendar_web_link}')
            img(src='/public/img/calendar.gif')
          
          h4 Events
          #events

  #footer.row-fluid
    = __i('Logged in as ')
    span#loggedUser.username.alt #{everyauth.google.user.name}
    button.btn.btn-info.btn-mini.hidden#checkin(type='submit') Check in
    span.pull-right#desktop.hidden-phone
      label(class='checkbox')
        input#desknot(type='checkbox') 
        |Desktop notifications
  
  div(style='display:none')
    #xxchangeTitleForm.form-horizontal
      input#xxnewTitle(type='text')
      input#xxsubmitTitle(type='button', value='Change title', class='btn btn-primary')
  div.modal.hide.fade#OptionsModal(role='dialog',aria-hidden='true')
    div.modal-header
        div.close(type='button',data-dismiss='modal',aria-hidden='true')
            |&times;
        h3
            |Options
    div.modal-body
        div.themeOptions
            h4
                |Chose a theme
            div.btn-group(data-toggle='buttons-radio')
                button.btn#themeLight(type='button',active)
                    |Light
                button.btn#themeDark(type='button')
                    |Dark

    div.modal-footer
        div.btn(data-dismiss='modal',aria-hidden='true')
            |Close
