extends layout

block append stylesheets
  link(href='/public/css/jquery-ui-1.8.17.custom.css', rel='stylesheet', type='text/css')

block append scripts
  script(src='/public/js/lib/jquery-ui-1.8.17.custom.min.js');
  script(src='/public/syntaxhighlighter/jquery.syntaxhighlighter.min.js')
  script(src='/public/js/resize.js')
  script(src='/public/js/helpers.js')
  script(src='/socket.io/socket.io.js')
  script(src='/public/js/config.js')
  script(src='/public/js/message.js')
  script(src='/public/js/lib/cursorPosition.js')
  script(src='/public/js/script.js')
  script(src='http://www.google.com/jsapi')
  script(src='/public/js/google_calendar.js')
  script(src='http://maps.googleapis.com/maps/api/js?sensor=true')

block content
  #content.row-fluid
    div.span9#chat
      #messagebox
        .scrollr

      textarea#inputfield(rows='2',placeholder='Type something funny and hit enter')



    div.span3#sidebar
      #buddylist(rowspan="2")
        .scrollr
          .alt.pull-right
            span#clients-count
              |0
            |&nbsp;toci

          h4 Online
          ul.unstyled
        
      #calendar
        .scrollr
          a.pull-right#calendar_link(target='_blank', href='#{calendar_web_link}')
            img(src='/public/img/calendar.gif')
          
          h4 Events
          #events
  
  div(style='display:none')
    #xxchangeTitleForm.form-horizontal
      input#xxnewTitle(type='text')
      input#xxsubmitTitle(type='button', value='Change title', class='btn btn-primary')

  div.modal.hide.fade#HelpModal(role='dialog',aria-hidden='true')
    div.modal-header
      h3 Help
      p '?' is the shortcut for this help window
    div.modal-body
      div.tabbable.tabs-left
        ul.nav.nav-tabs
          li.active
            a(href='#help-media', data-toggle='tab') media
          li
            a(href='#help-code', data-toggle='tab') code
          li
            a(href='#help-name', data-toggle='tab') @name
          li
            a(href='#help-emoticons', data-toggle='tab') emoticons
          li
            a(href='#help-meme', data-toggle='tab') meme
        // tab-content too width and jumps on the next line
        div.tab-content(style='width: 75%')
          div.tab-pane.active#help-media
            p Copy/Paste url to media to embed it
            p Supports
              ul
                li images (and GIF only on mobile)
                li mp3
                li Mixcloud
                li Soundcloud
                li YouTube
          div.tab-pane#help-code
            p Prepend '/code' to your message to format it as code
            p Example:
            p /code puts "hello world"
            code.highlight.prettyprint.lang-null.linenums.theme-ubutalk.prettyprint-has(style='overflow: hidden; white-space: pre-wrap; max-height: none;')
              ol.linenums
                li.L0
                  span.pln puts
                  span.str "hello world"
          div.tab-pane#help-name
            p Getting the attention of other people is easy.
            p You can mention someone by prepending @ to their name and use TAB to autocomplete
          div.tab-pane#help-emoticons
            div.emoticons TODO include all emoticons
          div.tab-pane#help-meme
            p '/meme list' shows a list of possible memes
            p Valid meme syntax
              ul
                li '/meme meme-name'
                li '/meme meme-name "top-text"'
                li '/meme meme-name "top-text" "bottom-text"'

  div.modal.hide.fade#OptionsModal(role='dialog',aria-hidden='true')
    div.modal-header
        div.close(type='button',data-dismiss='modal',aria-hidden='true')
            |&times;
        h3
            |Themes
    div.modal-body
        div.themeOptions
            h4
                |Chose a theme
            div.btn-group(data-toggle='buttons-radio')
                button.btn#themeLight(type='button',active)
                    |Light
                button.btn#themeDark(type='button')
                    |Dark

    div.modal-footer
        div.btn(data-dismiss='modal',aria-hidden='true')
            |Close
