extends layout

block append stylesheets
  link(href='/public/css/jquery-ui-1.8.17.custom.css', rel='stylesheet', type='text/css')
  link(rel="stylesheet", href="public/fancybox/jquery.fancybox-1.3.4.css", type="text/css", media="screen")
  link(rel="stylesheet", href="public/css/clouds.css", type="text/css", media="screen")

block append scripts
  script(src='/public/js/jquery-ui-1.8.17.custom.min.js');
  script(src='/public/syntaxhighlighter/jquery.syntaxhighlighter.min.js')
  script(src='/public/fancybox/jquery.fancybox-1.3.4.pack.js')
  script(src='/public/js/helpers.js')
  script(src='/socket.io/socket.io.js')
  script(src='/public/js/config.js')
  script(src='/public/js/message.js')
  script(src='/public/js/cursorPosition.js')
  script(src='/public/js/script.js')
  script(src='http://www.google.com/jsapi')
  script(src='/public/js/google_calendar.js')
  script(src='http://maps.googleapis.com/maps/api/js?sensor=true')

block header
  #header.row-fluid
    ul.inline.unstyled.pull-right#menu
      li
        a(href='/memegeist',target='_blank') Memegeist
      li
        a(href='/history',target='_blank') History
      li
        a(href='/map',target='_blank') Map
      li
        a(href='/whitelist',target='_blank') Whitelist
      li
        a(href='/logout') Logout

    div#title-box
      span#roomTitle
      a#changeTitle(href='#changeTitleForm') Change title

block content
  #content.row-fluid
    div.span9#chat
      #clouds 
        .space-invader.x1
        .space-invader.x2
        .space-invader.x3
        .space-invader.x4
        .space-invader.x5
      #messagebox
        .scrollr
      
      textarea#inputfield(rows='2',placeholder='Type something funny and hit enter')

    div.span3#sidebar
      #buddylist(rowspan="2")
        .scrollr
          .alt.pull-right
            span#clients-count
              |0
            |&nbsp;toci

          h4 Online
          ul.unstyled
        
      #calendar
        .scrollr
          a.pull-right#calendar_link(target='_blank', href='#{calendar_web_link}')
            img(src='/public/img/calendar.gif')
          
          h4 Events
          #events

  #footer.row-fluid
    = __i('Logged in as ')
    span#loggedUser.username.alt #{everyauth.google.user.name}
    button.btn.btn-info.btn-mini.hidden#checkin(type='submit') Check in
    span.pull-right#desktop.hidden-phone
      label(class='checkbox')
        input#desknot(type='checkbox') 
        |Desktop notifications
  
  div(style='display:none')
    #changeTitleForm.form-horizontal
      input#newTitle(type='text')
      input#submitTitle(type='button', value='Change title', class='btn btn-primary')
