!!! 5
html(lang="en")
  head
    title ServusTalk
    block stylesheets
      link(href='http://fonts.googleapis.com/css?family=Droid+Sans', rel='stylesheet', type='text/css')
      link(href='/public/css/style.css', rel='stylesheet', type='text/css')
  body
    block header
    block content
    block scripts
