extends layout

block append stylesheets
  link(href='/public/css/jquery-jvectormap-1.1.css', rel='stylesheet', type='text/css')
  link(href='/public/css/map.css', rel='stylesheet', type='text/css')

block append scripts
  script(src='/public/js/map/jquery-jvectormap-1.1.min.js')
  script(src='/public/js/map/jquery-jvectormap-world-mill-en.js')
  script(src='/public/js/map/gdp-data.js')
  script(src='/public/js/map/map.js')

block header
  #header.row-fluid
    ul.inline.unstyled.pull-right#menu
      li
        a(href='/') Chat
      li
        a(href='/memegeist') Memegeist
      li
        a(href='/history') History
      li
        a(href='/whitelist') Whitelist
      li
        a(href='/logout') Logout

    | Currently logged in as 
    span#loggedUser.username #{everyauth.google.user.name}

block content
  #map
