extends history

block header
  #header.row-fluid
    ul.inline.unstyled.pull-right#menu
      li
        a(target='_blank',href='/') Chat
      li
        a(href='/history',target='_blank') History
      li
        a(href='/map',target='_blank') Map
      li
        a(href='/whitelist',target='_blank') Whitelist
      li
        a(href='/logout') Logout

    | Currently logged in as 
    span#loggedUser.username #{everyauth.google.user.name}
