extends layout

block stylesheets
  link(href='http://fonts.googleapis.com/css?family=Droid+Sans', rel='stylesheet', type='text/css')
  |<style type='text/css'>
  |	body, input, textarea {
  |	  font-family: 'Droid Sans', sans-serif;
  |	  font-size: 14px;
  |       text-align: center;
  |	}
  |     p {
  |       font-size: 24px;
  |     }
  |     .button {
  |       margin-top: 50px;
  |	  width: 50%;
  |	  float:left;
  |	}
  |  .end {
  |    font-style: italic;
  |    font-size: 16px;
  |  }
  | .disclaimer {
  |   font-size: 10px;
  |  }
  |</style>

block content
  h1 Thank you for your interest in ServusTalk
  p 
    img(src='http://i.imgur.com/hKLiz.png')
  p We have 
    strong great 
    | news! ServusTalk is now a paid service, available for only $4.99/month. 
  p Also, posting inline gifs is now a VIP feature, available for an extra $2.99/month.
  .button 
    a(href="/")
      img(src='http://ppcalc.com/buttons/x-click-but6.gif')
  .button 
    a(href="/")
      img(src='http://www.mold-symptom.com/toxic-mold-training-school/google%20checkout.jpg')
  p &nbsp;
  p.end Because we love taking care of our users
  p.end - Soldiers of ServusTalk
  p.disclaimer Price does not include taxes. No Canadian coins. Not recommended for children. Prerecorded for this time zone. Reproduction strictly prohibited. No solicitors. No alcohol, dogs, or horses. Call toll free before digging. This product is meant for educational purposes only. Any resemblance to real persons, living or dead is purely coincidental. List each check separately by bank number. Batteries not included. No other warranty expressed or implied. Do not use while operating a motor vehicle or heavy equipment. Postage will be paid by addressee. Subject to approval. This is not an offer to sell securities. Do not stamp. Do not disturb. All models over 18 years of age. Subject to change without notice. One size fits all. Colors may, in time, fade. Slippery when wet. For office use only. Not affiliated with the American Red Cross. Not responsible for direct, indirect, incidental or consequential damages resulting from any defect, error or failure to perform. At participating locations only. Not the Beatles. Decision of judges is final.
