/********************************** 

  General 

**********************************/
/* Background */
body {
  background-image: url('/public/img/martisor.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Typography */
body, input, textarea, p {
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
}

blockquote {
  font-style: italic;
  color: #555;
}

/* Profile pics & user info */

.profilepic {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.middle {
  vertical-align: middle;
}

.username {
  font-style: italic;
}

.profilename.idle {
  color: #777;
  font-style: italic;
}

.profilepic.idle {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.profilename {
  position: relative;
  top: -7px;
}

.location {
  display: block;
  margin-left: 37px;
  font-size: .8em;
  position: relative;
  top: -16px;
  font-style: italic;
}

.idleSpan {
  font-size: 12px;
  color: #AAA;
  font-style: italic;
  margin-left: 5px;
  position: relative;
  top: -7px; 
}

/* Misc. */

.hidden {
  display: none;
}

.attention {
  color: #CD3333;
}

.meme {
  margin-right: 5px;
}

.timestamp {
  color: #777;
  font-size: 12px;
  font-style: italic;
  margin-left: 5px;
  display: block;
}

.checkin-time {
  display: inline;
}

i {
  margin-right: 5px;
}

/* Full height */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}

/* Scrollr */

.scrollr {
  overflow-y: scroll;
  height: 100%;
  padding-right: 10px;
}

/********************************** 

  Sections 

**********************************/

/* Layout General */

/* Header */

#header {
  font-size: 1em;
  line-height: 1.2em;
  border-bottom: 1px solid #ccc;
  
  padding-top: 7px;
  padding-bottom: 5px;
  height: 35px;

  box-shadow: 0px 0px 10px #ccc;  
}

#roomTitle {
  font-weight: bold;
}

#menu li {
 margin-left: .5em;
}

/* Title */

#submitTitle {
  margin-left: 5px;
}

#changeTitle {
  margin-left: .5em;
}

/* Content */

#content {
  min-height: 100%;
  max-height: 100%;
}

#content #chat, #content #sidebar {
  height: 100%;
}

#chat {
  position: relative;
}

/* Footer */

#footer {
  line-height: 1.2em;
  border-top: 1px solid #ccc;

  display: absolute;
  bottom: 0;

  padding-top: 5px;
  padding-bottom: 5px;
}

#checkin {
  margin-left: 10px;
}

/* Input box */

#inputfield {
  width: 99%;
  height: 40px;

  position: absolute;
  bottom: 0;
  margin: 0;
  margin-bottom: 10px;

  color : #000 !important;
}

/* Message box */

#messagebox {
  width: 100%;
  height: 100%;

  padding: 0;
  padding-bottom: 60px;
  padding-top: 5px;

  overflow: hidden;
}

#messagebox.history {
  padding-bottom: 0 !important;
}

#messagebox img.emoticon {
  float: none;
  height: 18px;
}

#messagebox img {
  float: left;
}

#messagebox img.extra {
  float: none;
}

#messagebox .scrollr {
  word-wrap: break-word;
  background-color: transparent;
}

/* Vote */

.vote {
  position: relative;
  float: left;
  
  font-weight: bold;
  font-size: .9em;

  width: 42px;
  text-align: left;
}

.vote a {
  width: 8px;
  text-align: center;
  display: inline-block;
}

.vote .vote-display {
  width: 16px; 
  display: inline-block;
  text-align: center;
  font-weight: bold;

  cursor: default;
}

.vote:hover .vote-plus {
  color: green;
}

.vote:hover .vote-minus {
  color: red;
}

.vote.voted-minus .vote-minus {

}

.vote.voted-plus .vote-display {
  color: green;
}

.vote.voted-minus .vote-display{
  color: red;
}

.vote.zero {
  color: #fff;
}

.vote.zero:hover {
  color: #000;
}

.vote a {
  color: #fff;
  text-decoration: none;
}

/* Message Content */

.messageContent .content {
  margin-left: 42px;
}

.checkinMessage {
  margin: 10px 0 10px 0;
}

/* Calendar */

#calendar {
  width: 100%;
  height: 48%;
  margin-top: 2%;
  
  position: relative;
  word-wrap: break-word;
  overflow-y: hidden;
}

#calendar_link {
  margin-left: 3px;
}

#events {
  margin-top: .5em;
}

.event_title a {
  color: #333;
  font-weight: bold;
}

.event_description, .event_date, .event_time, .event_location, .event_description a {
  font-weight: normal;
  color: #444;
}

.event_listing {
  margin-left: 10px;
}

.event_description {
  font-style: italic;
}


/* Buddy List */

#buddylist {
  height: 48%;
  margin-top: 2%;
  position: relative;
}

#buddylist ul {
  list-style-type: none;
  padding-left: 10px;
  margin-top: 10px;
}

#buddylist ul li {
  margin-bottom: 5px;
  height: 32px;
  overflow: hidden;
  cursor: default;
}

#buddylist ul li .profilepic {
  cursor: hand;
  cursor: pointer;
}

#buddylist p {
  font-weight: bold;
  margin: 5px;
  color: #777;
}

#buddylist #title {
  margin-right: 5px;
}


/* Embeds */

.imageDock {
  overflow : auto;
}

.imageLink {
  max-width: 60%;
  max-height : 315px;
}

.imageLink.resized {
  max-height : none !important;
}

.soundcloud {
  width: 90%;
}

/* Separators */

hr {
  border-top: 1px solid #DDD !important;
  border-bottom: 0 !important;

  margin: 5px 10px 5px 0 !important;
}

/* Notifications */

.notification {
  font-style: italic;
  color: #777;
  padding-top: 2px;
  padding-bottom: 3px;
}

.alert {
  border-radius: 4px;
  padding: 3px 3px 3px 8px !important;
  margin-bottom: 4px !important;
  font-weight: bold;
  color: #000 !important;
}

.mention .content {
  background-color: #FFFFAA;
}

/* Slap dat bitch */
.slap {
  font-style: italic;
  font-weight: bold;
  color: orange;
}

.attention {
  color: #CD3333;
}

#desktop {
  color: #777;
  padding-right: 5px;
}

/* Self-referencing /me */

.its-a-me {
  font-style: italic;
  margin: 10px 0 10px 0;
}

.its-a-me .name {
  font-weight: bold;
}

/* Login */

.loginLink, .loginLogo {
  text-align: center;
}

.loginLogo {
  margin-top: 200px;
}

.loginLink {
  margin-top: 50px;
}

/* Full-width container */

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid > .row-fluid {
  padding-left: 10px;
  padding-right: 10px;
}

/* Preloading */

.loading {
  display: none;
}

.preloader {
  display: block !important;
}

.preloader-hide {
  display: none;
}

/* HEEEEEEEEEY SEXY LADEEE */
.gangnam-style {
  text-align: center;
  padding-top: 100px;
}

/* Bookmark */

.bookmark {
  border-radius: 4px;
  margin-bottom: 4px !important;
  font-weight: bold;

  margin: 7px 10px 10px 42px;
  padding: 5px;

  border: 1px solid #fff;
  box-shadow: 0 0 5px #BCE8F1;

  background-color: #D9EDF7;
  border-color: #BCE8F1;
}

/* Title changer */
#newTitle {
  margin: 0;
  font-weight: bold;
}

/* NSFW */

.nsfw .content > * {
  display: none;
}

.nsfw .show-nsfw {
  display: inline !important;
}

/* Shake, shake, shake, senora */

@-webkit-keyframes spaceboots {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.shake {
  display:inline-block
}

/********************************** 

  Custom browser styles

**********************************/

/* Scrollbars on Webkit */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment  {
  height: 0;
  display: block;
  background-color: transparent;
}

::-webkit-scrollbar-track  {
  background-color: transparent;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-track:hover  {
  background-color: #F2F2F2;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical:hover {
  height: 50px;
  background-color: #AAA;
  border: 1px solid #AAA;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #CBCBCB;
  border: 1px solid #CBCBCB;
  -webkit-border-radius: 6px;
}

/* Monkeys are taking over */

* {
  margin: 0px;
  padding: 0px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
