@media (max-width: 767px) {
  #sidebar {
    display: none;
  }

  .container-fluid {
    padding-left: 10px;
    padding-right: 20px;
  }

  #title-box {
  	display: none;
  }

  #menu {
  	float: none !important;
  }

  .imageLink {
  	max-width: 90%;
  	max-height : 250px;
  }

  body > .container-fluid {
    padding: 0 !important;
  }
}